



  <!-- <button type="btn" (click)="gotologout()" style="background-color:#03a9f4 !important;color: #f68121;border:none; font-size: 31px;">
  <span class="fa fa-power-off " aria-hidden="true"> </span>
    </button> -->


          <!-- <button type="btn" style="background-color:#03a9f4 !important;color: #f68121;border:none; font-size: 31px;">
          <span class="fa fa-power-off " aria-hidden="true"> </span>
          </button>  -->
       




          <div class="menu1">

            <div>
          <p style="white-space: nowrap; margin-bottom: 27px;" (click)="gotolinkususermaster()"><a  style="color: #FFFFFF; font-family: Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span><p style="margin-top:17px;"></p>User Master</a></p>
              </div>


          <div>
          <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotolinkusgroupmaster()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tag fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Group Master</a>
              </p>
            </div>
          
            <div>
          <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotolinkusopengroup()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-qq fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Open Group</a>
          </p>
          </div>

<!-- 
           <div>
              <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotolinkusgroupaccess()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-language  fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Group access</a>
            </p>
            </div> -->


     
          <div>
          <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotomessagereport()"> <a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-building-o fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Message Report</a>
        </p>
        </div>
          
        <div>
          <p style="white-space:  nowrap; margin-bottom: 27px;" > <a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-secret fa-stack-1x "></i></span><p style="margin-top:18px;"></p>User Report</a>
        </p>
        </div>
          
  

        <div>
            <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotolinkusanalytics()"><a  style="color: #FFFFFF; font-family:-Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-tachometer fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Link Us Analytics</a>
          </p>
          </div>


          <div>
            <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotousertrending()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-plus fa-stack-1x "></i></span><p style="margin-top:18px;"></p>User Trending</a>
          </p>
          </div>


          <div>
              <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotoreadanalysis()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-language  fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Read Analysis</a>
            </p>
            </div>



             <!-- <div>
              <p style="white-space:  nowrap; margin-bottom: 27px;" (click)="gotologout()"><a  style="color: #FFFFFF; font-family:Calibri;"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-secret fa-stack-1x "></i></span><p style="margin-top:18px;"></p>Logout</a>
            </p>
            </div>  -->
          
              </div>
        