page-linkusmasterdata {
    

        .row {
              margin-left: 0px;
              margin-right: 0px;
              margin: 5px;
              border: 2px solid #dadada;
          }
          b, strong {
              font-weight: bold;
              font-family: -webkit-pictograph;
              font-size: 14px;
          }
       
          .col-6 {
              padding-left: 3px;
          }
      
          .col-4 {
              padding-right: 3px;
              padding-left: 10px;
          }
      
          .col-2 {
              padding-right: 3px;
              padding-left: 5px;
          }
      
      
      
}
