
<ion-header>
    <ion-navbar>
        <!--<ion-toolbar>-->
        <ion-title>
            <h1 no-margin>Select</h1>
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="close()">
                    <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <!--</ion-toolbar>-->
        <ion-searchbar #searchbar (ionInput)="getUsers($event)"
        ></ion-searchbar>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <!--    <ion-list-header *ngIf="selectedItems.length!=0">
              selected items
            </ion-list-header>
            <ng-container *ngFor="let item of selectedItems">
              <ion-item (click)="removeValue(item)">
                <ion-icon name="checkmark" item-left></ion-icon>
                {{ item[this.key] }}
                <ion-icon name="trash" item-right></ion-icon>
              </ion-item>
            </ng-container>
            <ion-list-header>
             select an item
            </ion-list-header>-->
        <ion-item no-padding *ngFor="let item of items" (click)="setValue(item)">
                  <img *ngIf='item.store_image' style="width: 20px;display: inline;float: left;margin-top: 5px;margin-right: 10px;" src="http://marina.ind.in/public/upload/store/{{item.store_image}}"/>
            {{ item[this.key] }}
        </ion-item>
    </ion-list>
</ion-content>
